/*Global Settings*/

html, body {
    font-size: 1.25em;
    background: url('bible.webp') no-repeat center;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Styling header*/
header {
    background-color: #0b0907;
    color: #f0ead2;
    padding: 0.5em;
    mix-blend-mode: hard-light;
}

h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 100;
    text-align: center;
}

@media all and (max-width: 500px) {
    h1 {
        font-size: 1em;
    }
}

/*Styling main section*/

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    color: #302824;
    min-height: 70vh;
    width: 80%;
    margin: 2em auto;
    border-radius: .5em;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

main h3 {
    margin: 1em 0;
    font-family: 'Forum', sans-serif;
}

.contents {
    width: 80%;
    margin: 0 auto;
}

/*Styling the form*/

.generator-form {
    font-size: .8rem;
    font-weight: 300;
    font-family: 'Arial', sans-serif;
    margin-top: 2em;
}

.generator-submit {
    padding: .55em;
    border: 1px solid #a98467;
    color:#302824;
    cursor: pointer;
    background-color: inherit;
    outline: none;
    margin-left: .5em;
    vertical-align: bottom;
    transition: all .3s ease-in-out;
    border-radius: .25em;
}

.generator-submit:hover, .generator-submit:focus {
    background-color: #ab9f88;
    color: whitesmoke;
}

label {
    color: #6c584c;
    display: block;
    font-weight: 700;
}

.generator {
    line-height: 1.5;
    font-size: .75rem;
    margin-top: .5em;
}

@media all and (max-width: 500px) {
    main h3 {
        font-size: .75em;
    }    

    .generator {
        max-width: 65%;
    }
}
/*Styling verses - invisible div for now*/

